body {
    background-color: #f5f5f5;
    /*font-family: 'Jacques Francois', serif;*/
}

.sidebarTitle {
    color: #f2f2f2;
    font-size: 1.7rem;
    text-transform: capitalize;
    font-family: 'Francois One', sans-serif;
    font-weight: 500;
}

.mainHead {
    margin-bottom: 10px;
    color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 0px !important;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#sidebarMenu .nav-link {
    color: #f2f2f2;
    font-size: 11px;
}

.icon-s {
    font-size: 17px;
}

.sidebarTitle span {
    font-size: 2.3rem;
}

#subNavMenu {
    list-style-type: none;
    text-align: center;
}

#subNavMenu img#logout {
    justify-content: center;
    height: 15px !important;
}

#subNavMenu input[type="submit"] {
    border: none;
    font-size: 12px;
    background: none;
}

#sidebarMenu {
    min-height: 100vh;
}

.contractId {
    background: #fff;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 17%), 0 3px 17px 0 rgb(0 0 0 / 13%);
}

.con-p {
    padding: 5px 20px;
}

.p-r-0 {
    padding-right: 27px !important;
}

.vl-2 {
    border-left: 2px solid #ddd;
    height: 35px;
    margin: 3px;
}

.pageWrapper {
    background: #fff;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 17%), 0 3px 17px 0 rgb(0 0 0 / 13%);
    padding: 5px 20px 10px 20px;
}

.cus-tabs {
    border-bottom: 1px solid #0dcaf0;
}

.cus-tabs .nav-item.show, .cus-tabs .nav-link.active {
    color: #fff !important;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.cus-tabs .nav-link:focus, .cus-tabs .nav-link:hover {
    border-color: #0dcaf0;
    color: #fff;
    isolation: isolate;
}

.btn-border-radius {
    border-radius: 10px;
    padding: 3px 10px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 7px;
    width: 45px !important;
}

.toggle.ios .toggle-handle { 
    border-radius: 7px;
    width: 45px !important;
 }

 .toggle-off {
    padding-left: 2rem !important;
 }

 .toggle-on {
    padding-right: 2rem !important;
 }

.toggle{
    min-width: 5.125rem !important;
    border-radius: 10px;
}

.cus-tabs .nav-item .nav-link {
    color: #000;
    border-radius: 0;
    padding: 10px 30px;
}

.mr-2 {
    margin-right: 20px;
}

/*contact us*/

.con-submit {
    width: 30%;
    float: right;
}

.vl {
  border-left: 2px solid #ddd;
  height: 260px;
}

/*domain transfer*/
.back-btn {
    width: 300px;
    display: block;
    margin: 0 auto;
}

/*server*/

.row-border {
    margin: 0px 70px 25px 70px;
    border: 2px solid #000000;
    padding: 50px 0px;
}
